.hero-banner.image-banner {
  background-image: url("./assets/restaurant.PNG");
  background-position: center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: end;
}
