@font-face {
  font-family: "Italianno";
  src: url("./Italianno/Italianno-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  color: white;
}
nav {
  height: 3vh;
  display: flex;
  opacity: 1;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
}
button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Italianno", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}
#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2rem;
}

.hero-banner {
  background-color: black;
  height: 30vh;
  display: grid;
  place-items: center;
  color: white;
  font-family: "Italianno", cursive;
  font-size: 5rem;
  font-weight: lighter;
  align-self: stretch;
}

.main {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  font-family: "Italianno", sans-serif;
  font-size: 1.6rem;
  font-weight: lighter;
  column-gap: 10px;
  width: min(100vw, 1000px);
  flex-grow: 1;
  align-content: center;
}
.main > span {
  flex-basis: 60%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px;
}

img {
  height: 200px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: "Italianno", cursive, sans-serif;
  padding: 2px 15px;
}
